<section class="chi-wrapper">
  <img src="/sfondo_chisiamo.jpg" alt="Sfondo Karma" class="chi-bg">

  <div class="chi-overlay"></div>

  <div class="chi-content">
    <h2 class="chi-title">UN'ESPERIENZA UNICA</h2>
    <div class="chi-divider"></div>

    <p>
      Benvenuti da <strong>AFTERGLOW</strong>, il cuore pulsante della movida.
      Un luogo dove energia, musica e stile si fondono per offrire un'esperienza senza pari.
      <span class="highlight">ENERGIA, MUSICA, EMOZIONI:</span>
      <span class="highlight">BENVENUTI DA AFTERGLOW.</span>
    </p>

    <p>
      Ogni notte è un'opportunità per ballare al ritmo delle migliori hit e vivere momenti di pura adrenalina.
      Afterglow è il posto dove lasciarsi andare e condividere emozioni uniche.
    </p>
  </div>
</section>
<app-features></app-features>
