<div class="dashboard-root">

  <img src="/sfondo-AdminHome.jpg" class="bg-blur" />
  <div class="bg-dark-overlay"></div>

  <div class="dashboard-content">

    <div class="dashboard-buttons">

      <a routerLink="/admin/gestisci-lista" class="dash-card">
        <div class="dash-icon">📋</div>
        <div class="dash-title">Gestisci Lista</div>
      </a>

      <a routerLink="/admin/gestisci-eventi" class="dash-card">
        <div class="dash-icon">🎉</div>
        <div class="dash-title">Gestisci Eventi</div>
      </a>

      <a routerLink="/admin/lista-album" class="dash-card">
        <div class="dash-icon">🖼️</div>
        <div class="dash-title">Gestisci Galleria</div>
      </a>

      <a routerLink="/admin/gestisci-utenti" class="dash-card">
        <div class="dash-icon">👥</div>
        <div class="dash-title">Gestione Utenti</div>
      </a>


      <a routerLink="/profilo" class="dash-card">
        <div class="dash-icon">👤</div>
        <div class="dash-title">Profilo</div>
      </a>

    </div>
  </div>
</div>
